<div *ngIf="loading | async">
    Loading
</div>
<div>
    {{ wallets | json }}
</div>
<button (click)="onClick($event)">Add Wallet</button>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

    <div>
      <label for="sender">
        Sender
      </label>
      <input id="sender" type="text" formControlName="sender">
    </div>
  
    <div>
      <label for="recipient">
        Recipient
      </label>
      <input id="recipient" type="text" formControlName="recipient">
    </div>

    <div>
        <label for="amount">
         Amount
        </label>
        <input id="amount" type="number" formControlName="amount">
    </div>
  
    <button class="button" type="submit">Send</button>
  
  </form>
